@model Battleships.Core.ViewModels.GameOptions
@{
    ViewBag.Title = "player vs player";
}
<div style="display: none" class="Victory-box row col-md-12 text-center justify-content-center p-4 d-flex flex-column">
    <div class="d-flex align-self-center">
        <p id="Winner" class="text-center"></p>
    </div>
    <div class="d-flex align-self-center">
        <a id="BackToMenu" hidden class="text-center">Back To Menu</a>
    </div>

</div>>
<div class="BoardsContainter center-block col-md-12 row" data-player1="@Model.PlayerOne" data-player2="@Model.PlayerTwo">
    <div class="col-md-6 text-center">
        @BoardHelper.CreateBoard(0, Model.Bot, Model.PlayersOptions.BoardSize)
    </div>
    <div class="col-md-6 text-center">
        @BoardHelper.CreateBoard(1, Model.Bot, Model.PlayersOptions.BoardSize)
    </div>
</div>
<div style="display: none" class="ShowBoards justify-content-center col-md-12 row">
    <button id="showBoards" class="mb-4 btn btn-danger" >Show boards</button>
</div>
<div class="UIContainer col-md-12 row center-block">
    <div class="col-md-12 text-center center-block ship-placing-container">
        <div style="margin-bottom:10px">
            @BoardHelper.ShipPlacingMenu(Model.PlayersOptions.GetShips())
            
        </div>
        <div>
            <Button class="btn btn-primary" id="orientationButton">Change orientation</Button>
            <span id="orientationText">horizontal</span>

        </div>
        
    </div>
    <div class="col-md-12 text-center">
        <button class="btn btn-primary " id="endTurn" disabled="disabled">End turn</button>
    </div>

</div>
