@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title — moja aplikacja platformy ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark  flex-md-nowrap">
        <div class="container">
            @Html.ActionLink("Battleships", "Index", "Game", new { area = "" }, new { @class = "navbar-brand" })
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#headerNavBar" aria-controls="headerNavBar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="headerNavBar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        @Html.ActionLink("Game", "Index", "Game", new { area = "" }, new { @class = ViewContext.RouteData.Values["controller"].ToString() == "Game" ? "active nav-link" : "nav-link" })
                    </li>
                    @if (Request.IsAuthenticated)
                    {
                        <li class="nav-item">
                            @Html.ActionLink("UserPanel", "Index", "UserPanel", new { area = "" }, new { @class = ViewContext.RouteData.Values["controller"].ToString() == "UserPanel" ? "active nav-link" : "nav-link" })
                        </li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>


    </nav>
    <div class="container body-content flex">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year — moja aplikacja platformy ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/Scripts_JS/MainGame.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
