@model Battleships.Core.ViewModels.UserPanelHistoryModel
<div class="row">
    @Html.Partial("UserPanelNavbarPartial")
    <main class="col-md-9 ml-sm-auto col-lg-10 px-4 pt-2">
        <div class="d-flex justify-content-between  border-bottom">
            <h1>Game history</h1>
        </div>
        <table class="table table-striped">

            <tr class="thead-dark">
                <th>Lp.</th>
                <th>Player 1</th>
                <th>Player 2</th>
                <th>Winner</th>
                <th>Played at</th>
            </tr>


            @for (int i = 0; i < Model.Matches.Count; i++)
            {
                <tr class="">
                    <td>
                        @(i + 1).
                    </td>
                    <td>
                        <img class="img img-thumbnail mr-2" style="max-height:40px" src="~/Content/Pictures/@Model.ImagePlayerOne[i]" />
                        @Html.ActionLink(Model.PlayerOne[i], "PlayerDetails", new { userId = Model.Matches[i].PlayerOneId })
                    </td>

                    <td>
                        <img class="img img-thumbnail mr-2" style="max-height:40px" src="~/Content/Pictures/@Model.ImagePlayerTwo[i]" />
                        @Html.ActionLink(Model.PlayerTwo[i], "PlayerDetails", new { userId = Model.Matches[i].PlayerTwoId })
                    </td>

                    <td>
                        @(Model.Matches[i].Winner.Equals(Model.Matches[i].PlayerOneId) ? Model.PlayerOne[i] : Model.PlayerTwo[i] )
                    </td>
                    <td>
                        @Model.Matches[i].PlayedAt.ToString("dd-MMM-yyyy")
                    </td>
                </tr>
            }

        </table>
    </main>
</div>

