@model Battleships.Core.ViewModels.UserPanelLeaderboardModel
<div class="row">
    @Html.Partial("UserPanelNavbarPartial")
    <main class="col-md-9 ml-sm-auto col-lg-10 px-4 pt-2">
        <table class="table table-striped">

            <tr class="thead-dark">
                <th>Lp.</th>
                <th>Player 1</th>
                <th></th>
                <th>Player 2</th>
                <th></th>
                <th>Winner</th>
                <th>Played At</th>
            </tr>


            @for(int i =0;i < Model.LeaderBoards.Count;i++)
            {
            <tr class="">
                <td>
                    @(i+1).
                </td>
                <td>
                    <img class="img img-thumbnail" style="max-height:40px" src="~/Content/Pictures/@Model.Image[i]" />
                </td>
                <td>
                    @Html.ActionLink(Model.UserName[i], "PlayerDetails", new {userId = Model.LeaderBoards[i].UserId })
                </td>
                <td>
                    @Model.LeaderBoards[i].MatchesPlayed
                </td>
                <td>
                    @Model.LeaderBoards[i].Wins
                </td>
                <td>
                    @Model.LeaderBoards[i].Loses
                </td>
                <td>
                    @(Math.Round((decimal)Model.LeaderBoards[i].Wins/Model.LeaderBoards[i].MatchesPlayed,2))
                </td>
            </tr>
            }

        </table>
    </main>
</div>
   
